<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
</head>
<body>
<h2>Add Category</h2>

<form th:action="@{/category-add}" th:object="${newCategory}">
    <label for="id">Id:</label><br>
    <input type="text" id="id" id="id" th:field="*{id}"><br>
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category" th:field="*{categoryName}"><br><br>
    <input type="submit" value="Add category">
</form>

</body>
</html>