<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

<p th:text="${title}"></p>

<a type="button" th:href="@{/add-category}">Add Category</a>

<table style="width:100%">
    <tr>
        <th>id</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    <tr th:each="category: ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.description}"></td>
        <td>
            <a th:href="@{/deleteCategoryById(id=${category.id})}">X</a>
            <a th:href="@{/findCategoryById(id=${category.id})}">View</a>
            <a th:href="@{/edit-category(id=${category.id})}">EDIT</a>
        </td>
    </tr>
</ul>

</table>
</body>
</html>