<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add C</title>
</head>
<body>
<h2>Add Category</h2>

<form th:action="@{/category-add}" th:object="${newCategory}">
    <label for="id">Id:</label><br>
    <input type="text" id="id" name="id" th:field="*{id}"><br>
    <label for="products">Description:</label><br>
    <input type="text" id="products" name="products" th:field="*{products}"><br><br>
    <label for="name">Price:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}"><br><br>
    <input type="submit" value="Add category">
</form>

</body>
</html>