<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>

<body>

<h2>Add Product</h2>

<form th:action="@{/product-add}" th:object="${newProduct}">
    <label for="fname">Product Name:</label><br>
    <input type="text" id="fname" name="fname" th:field="*{productName}"><br>
    <p th:text="${errorMessageProductName}"></p>
    <label for="lname">Description:</label><br>
    <input type="text" id="lname" name="lname" th:field="*{description}"><br><br>
    <p th:text="${errorMessageProductDescription}"></p>
    <label for="lname">Price:</label><br>
    <input type="text" id="price" name="price" th:field="*{price}"><br><br>
    <p th:text="${errorMessageProductPrice}"></p>

    <label for="cars">Category:</label><br>
    <div>
        <select name="cars" id="cars" th:field="*{category.id}">
            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
        </select>
    </div>


    <input type="submit" value="Add product">
</form>


</body>
</html>