<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View product</title>


    <style>

    h2
    {
        color:red
    }


</style>

</head>

<body>

<h2 th:text="${foundProduct.id}"></h2>
<h3 th:text="${foundProduct.productName}"></h3>
<h3 th:text="${foundProduct.description}"></h3>
<h3 th:text="${foundProduct.price}"></h3>
<td th:if="${product.category != null}" th:text="${product.category.categoryName}" ></td>

</body>
</html>